apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
- namespace.yaml
namespace: 1st-demo-unique-repo
images:
- name: 1st-demo
  newName: mattedamo26/first-demo-single-repo
  newTag: bd0b95a1e7e31fd3a30c0a979ffbfc45761b001f
